


@media (min-width:768px){

    .title{
        font-size: 60px;
        color:maroon
    }
}

@media (max-width:768px){

    .title{
        font-size: 14px;
        color:greenyellow
    }
}

/*this is to change and limit the font size according to how big the page is.*/